<div class="shell">
  <h1>Drzewo Struktury Plików</h1>
  <p data-cy="logged-in-as">
    Zalogowany jako:
    <select
      data-cy="user-select"
      [(ngModel)]="selectedUser"
      (ngModelChange)="onUserChange($event)"
    >
      <option *ngFor="let user of users; trackBy: trackByUser" [ngValue]="user">
        {{ user }}
      </option>
    </select>
    <button data-cy="reset-button" (click)="onReset()">
      Przywróć stan początkowy
    </button>
  </p>
  <app-file-tree data-cy="file-tree"></app-file-tree>
</div>
